.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 115px; */

    position: fixed;/* Hace que el navbar se mantenga en la parte superior */
    top: 0;  /* Lo fija en la parte superior */
    left: 0; /* Lo alinea a la izquierda */
    width: 100%; /* Ocupa todo el ancho */
    background-color: #161513; /* Asegura que el fondo sea visible si es transparente */
    /*background-color: #201e1d Asegura que el fondo sea visible si es transparente
    /* background-color:rgb(7, 7, 7); */
     /* Asegura que el fondo sea visible si es transparente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    padding: 15px 120px; 
    /* Ajusta el espaciado para que no se vea pegado*/
    /* border-bottom: white 1px solid; */
    /* box-shadow: 0px 30px 50px rgba(240, 225, 225, 0.1); */
/} 

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
}

.nav-connect{
    padding: 12px 24px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(267deg, #DA7C25 0.36%,  #B923E1 102.06%);
    font-size: 20px;
    transition: 0.5s;
}
.navbar img{
    max-width: 120px;
    margin-top: 15px;
}
.nav-connect:hover{
  transform: scale(1.05);

}

.nav-menu li{
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.nav-menu li img{
    display: flex;
    margin: auto;
    width: 50px;
    height: 10px;
}

.anchor-link{
    text-decoration: none;
    color: #fff;
}

.nav-mob-close{
    display: none;
}

.nav-mob-open{
    display: none;
}

@media (max-width:768px){
    .navbar{
        /* margin: 20px 50px; */
        padding: 10px 1px; 

       
    }
    
    .nav-connect{
        display: none;
        
    }

    .navbar-logo{
        justify-content: center;
        margin-left: -70px;

    }

   

    .nav-mob-open{
        display: block;
        position: fixed;
        right: 40px;
        width:40px;
        top: 5px;
        
        /* width:40px;
        top: 15px; */
    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items:start ;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
        
    }
    

}
