*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    /* height: 100vh; */
    min-height: 100vh;
    background: #161513;
    color: white;
    font-family: 'outfit', sans-serif  ;
    overflow-x: hidden; /* Evita desplazamiento horizontal */

    padding-top: 80px; 
    /* top:0px; */
    /* Ajusta el contenido para que no quede detrás del navbar */

}

html, body {
    overflow-x: hidden;
    width: 100%;
}

html {
    scroll-behavior: smooth;
  }